package ${packageName};

public class ${className} {
    public static ${returnType} ${methodName}(#foreach($parameter in $parameters)${foreach.count} ${parameter.type} ${parameter.name} #end) {

    }
}