package ${info.packageName};

import com.mashape.unirest.http.HttpResponse;
import com.mashape.unirest.http.Unirest;
import com.mashape.unirest.http.async.Callback;
import com.mashape.unirest.http.exceptions.UnirestException;

import java.util.concurrent.Future;

public class ${info.name} {
#foreach($method in $info.methods)
#set($async = false)
#parse( "RequestFunction.vm" )


#set($async = true)
#parse( "RequestFunction.vm" )
#end

}