    ${method.docString}
#if($async)
#set($returnType = "Future<HttpResponse<${method.returnType}>>")
#else
#set($returnType = "HttpResponse<${method.returnType}>")
#end
    public static ${returnType} ${method.name}#if($async)Async#end(#foreach( $parameter in $method.parameters )${parameter.type} ${parameter.name}#if($foreach.hasNext), #end#end#if($async), Callback<${method.returnType}> callback#end) {
        ${returnType} response = Unirest.${method.requestMethod.toLowerCase()}("${method.requestUrl}")
#foreach($param in $method.routeParams)
            .routeParam("${param.varName}", ${param.name})
#end
#foreach($param in $method.queryParams)
            .queryString("${param.varName}", ${param.name})
#end
#if($method.hasBody)
            .body(${method.bodyVar})
#end
            .asObject#if($async)Async#end(${method.returnType}.class#if($async), callback#end);

        return response;
    }