#if($async)
#set($returnType = "Future<HttpResponse<${method.returnType}>>")
#else
#set($returnType = "HttpResponse<${method.returnType}>")
#end
#if($method.docString != "")    ${method.docString}#end
    public static ${returnType} ${method.name}#if($async)Async#end(#foreach( $parameter in $method.parameters )${parameter.type} ${parameter.name}#if($foreach.hasNext || $async), #end#end#if($async)Callback<${method.returnType}> callback#end) #if(!$async)throws UnirestException #end{
        return Unirest.${method.requestMethod.toLowerCase()}("${method.requestUrl}")
#foreach($param in $method.routeParams)
            .routeParam("${param.varName}", ${param.name})
#end
#foreach($param in $method.queryParams)
            .queryString("${param.varName}", ${param.name})
#end
#foreach($field in $method.fields)
            .field("${field.varName}", ${field.name})
#end
#if($method.hasBody)
            .body(${method.bodyVar})
#end
            .asObject#if($async)Async#end(${method.returnType}.class#if($async), callback#end);
    }