package ${info.packageName};

public class ${info.name} {

#foreach($method in $info.methods)
#set($async = false)
#parse( "RequestFunction.vm" )

#set($async = true)
#parse( "RequestFunction.vm" )
#end

}